.hero-wrap{
    position: relative;
}

.span1{
    position: absolute;
    width: 130px;
    height: 120px;
    background: url(../svg/Vector-1.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    right: 160px;
    top: -50px;
}

.span2{
    position: absolute;
    width: 60px;
    height: 120px;
    background: url(../svg/Vector-2.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    right: -50px;
    top: -200px;
}

.span3{
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(../svg/Vector-3.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 400px;
    bottom: 80px;
}

.span4{
    position: absolute;
    width: 130px;
    height: 120px;
    background: url(../svg/Vector-4.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 65%;
    bottom: 150px;
}

.span5{
    position: absolute;
    width: 130px;
    height: 120px;
    background: url(../svg/Vector-5.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 25%;
    bottom: 64%;
}

.span6{
    position: absolute;
    width: 130px;
    height: 120px;
    background: url(../svg/Vector.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 1%;
    top: -100px;
}

.span7{
    position: absolute;
    width: 150px;
    height: 150px;
    background: url(/src/svg/clock.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 8%;
    top: -65px;
}

.span8{
    position: absolute;
    width: 400px;
    height: 700px;
    background: url(../img/Mobile\ Screen\ 2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    right: -50px;
    bottom: -200px;
}

.span9{
    position: absolute;
    width: 400px;
    height: 700px;
    background: url(../svg/Mobile_1.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -50px;
    bottom: -200px;
}

.switch {
    --circle-dim: 1.4em;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
  }
  
  .slider-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
  }
  
  .slider-card-front {
    background-color: #DC3535;
  }
  
  .slider-card-back {
    background-color: #379237;
    transform: rotateY(180deg);
  }
  
  input:checked ~ .slider-card .slider-card-back {
    transform: rotateY(0);
  }
  
  input:checked ~ .slider-card .slider-card-front {
    transform: rotateY(-180deg);
  }
  
  input:checked ~ .slider-card {
    transform: translateX(1.5em);
  }
  
  input:checked ~ .slider {
    background-color: #9ed99c;
  }